.homepage
{
background-color:#ffffff;
height:2194px;
width:1440px;
padding:0px;
left:205px;
top:140px;
position:relative;
}
.rectangle335
{
background-color:#e7e7e7;
height:69px;
width:1440px;
}
.logo1
{
height:45px;
width:45px;
left:0px;
top:0px;
position:absolute;
}
.genericavatar
{
background-color:#84041d;
height:35px;
width:35px;
border-radius:100px;
padding:0px;
left:962px;
top:0px;
position:absolute;
}
.avatarplaceholder
{
background-color:#ffffff;
height:22.428062438964844px;
width:24.66107940673828px;
width:24.66107940673828px;
height:22.428062438964844px;
left:5.16px;
top:8.75px;
width:24.66107940673828px;
height:22.428062438964844px;
position:absolute;
}
.search
{
background-color:#ffffff;
height:40px;
width:320px;
border-radius:9999px;
padding-left:16px;
padding-right:16px;
padding-top:12px;
padding-bottom:12px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
position:absolute;
top:14px;
left:88px;
}
.value
{
color:#1e1e1e;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
align-self:flex-start;
left:16px;
top:12px;
position:absolute;
line-height:100px;
border-style:hidden;
outline:none;
width:288px;
display:flex;
}
.bell
{
background-color:#ffffff;
height:35px;
width:35px;
padding:0px;
border-style:hidden;
outline:none;
left:1100px;
top:0px;
position:absolute;
}
.icon
{
height:29.161500930786133px;
width:26.25px;
width:26.25px;
height:29.161500930786133px;
left:4.37px;
top:2.91px;
width:26.25px;
height:29.161500930786133px;
position:absolute;
}
.home2
{
background-color:#ffffff;
height:35px;
width:35px;
padding:0px;
border-style:hidden;
outline:none;
left:1031px;
top:0px;
position:absolute;
}
.icon2
{
height:29.16666603088379px;
width:26.25px;
width:26.25px;
height:29.16666603088379px;
left:4.37px;
top:2.91px;
width:26.25px;
height:29.16666603088379px;
position:absolute;
}
.home3
{
background-color:#ffffff;
height:35px;
width:35px;
padding:0px;
border-style:hidden;
outline:none;
left:0px;
top:49px;
position:absolute;
}
.icon3
{
height:29.16666603088379px;
width:26.25px;
width:26.25px;
height:29.16666603088379px;
left:4.37px;
top:2.91px;
width:26.25px;
height:29.16666603088379px;
position:absolute;
}
.menu
{
background-color:#ffffff;
height:35px;
width:35px;
padding:0px;
border-style:hidden;
outline:none;
left:1169px;
top:0px;
position:absolute;
}
.icon4
{
height:17.5px;
width:26.25px;
width:26.25px;
height:17.5px;
left:4.37px;
top:8.75px;
width:26.25px;
height:17.5px;
position:absolute;
}
.menu2
{
background-color:#ffffff;
height:35px;
width:35px;
padding:0px;
border-style:hidden;
outline:none;
left:0px;
top:131px;
position:absolute;
}
.icon5
{
height:17.5px;
width:26.25px;
width:26.25px;
height:17.5px;
left:4.37px;
top:8.75px;
width:26.25px;
height:17.5px;
position:absolute;
}
.genericavatar2
{
background-color:#84041d;
height:35px;
width:35px;
border-radius:100px;
padding:0px;
left:0px;
top:0px;
position:absolute;
}
.avatarplaceholder2
{
background-color:#ffffff;
height:22.428062438964844px;
width:24.66107940673828px;
width:24.66107940673828px;
height:22.428062438964844px;
left:5.16px;
top:8.75px;
width:24.66107940673828px;
height:22.428062438964844px;
position:absolute;
}
.gmail_groups
{
height:35px;
width:35px;
padding:0px;
border-style:hidden;
outline:none;
left:0px;
top:213px;
position:absolute;
}
.icon6
{
background-color:#1d1b20;
height:23.33333396911621px;
width:35px;
width:35px;
height:23.33333396911621px;
top:5.83px;
width:35px;
height:23.33333396911621px;
position:absolute;
}
.logout
{
background-color:#ffffff;
height:35px;
width:35px;
padding:0px;
border-style:hidden;
outline:none;
left:0px;
top:380px;
position:absolute;
}
.icon7
{
height:26.25px;
width:26.25px;
width:26.25px;
height:26.25px;
left:4.37px;
top:4.37px;
width:26.25px;
height:26.25px;
position:absolute;
}
.profile
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:109px;
left:78px;
position:absolute;
width:46px;
}
.home4
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:191px;
left:81px;
position:absolute;
width:46px;
}
.menu3
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:273px;
left:78px;
position:absolute;
width:46px;
}
.organization
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:355px;
left:78px;
position:absolute;
width:75px;
}
.logout2
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:517px;
left:82px;
position:absolute;
width:75px;
}
.rectangle336
{
background-color:#f5f5f5;
height:156px;
width:581px;
border-radius:10px;
top:89px;
left:444px;
position:absolute;
}
.genericavatar3
{
background-color:#84041d;
height:45px;
width:45px;
border-radius:100px;
padding:0px;
left:265px;
top:0px;
position:absolute;
}
.avatarplaceholder3
{
background-color:#ffffff;
height:28.836082458496094px;
width:31.707103729248047px;
width:31.707103729248047px;
height:28.836082458496094px;
left:6.64px;
top:11.25px;
width:31.707103729248047px;
height:28.836082458496094px;
position:absolute;
}
.calendar
{
background-color:#ffffff;
height:35px;
width:35px;
padding:0px;
border-style:hidden;
outline:none;
left:0px;
top:295px;
position:absolute;
}
.icon8
{
height:29.16666603088379px;
width:26.25px;
width:26.25px;
height:29.16666603088379px;
left:4.37px;
top:2.91px;
width:26.25px;
height:29.16666603088379px;
position:absolute;
}
.calendar2
{
background-color:#ffffff;
height:30px;
width:30px;
padding:0px;
border-style:hidden;
outline:none;
left:265px;
top:51px;
position:absolute;
}
.icon9
{
height:25px;
width:22.5px;
width:22.5px;
height:25px;
left:3.75px;
top:2.5px;
width:22.5px;
height:25px;
position:absolute;
}
.schedules
{
color:#000000;
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:438px;
left:88px;
position:absolute;
width:75px;
}
.chevrondown
{
background-color:#ffffff;
height:20px;
width:20px;
padding:0px;
border-style:hidden;
outline:none;
left:774px;
top:0px;
position:absolute;
}
.icon10
{
height:5px;
width:10px;
width:10px;
height:5px;
left:5px;
top:7.5px;
width:10px;
height:5px;
position:absolute;
}
.globe
{
background-color:#ffffff;
height:25px;
width:25px;
padding:0px;
border-style:hidden;
outline:none;
left:743px;
top:0px;
position:absolute;
}
.icon11
{
height:20.833332061767578px;
width:20.833332061767578px;
width:20.833332061767578px;
height:20.833332061767578px;
left:2.08px;
top:2.08px;
width:20.833332061767578px;
height:20.833332061767578px;
position:absolute;
}
.image
{
background-color:#ffffff;
height:30px;
width:30px;
padding:0px;
border-style:hidden;
outline:none;
left:318px;
top:51px;
position:absolute;
}
.icon12
{
height:22.5px;
width:22.5px;
width:22.5px;
height:22.5px;
left:3.75px;
top:3.75px;
width:22.5px;
height:22.5px;
position:absolute;
}
.line5
{
width:506px;
border:1px solid #000000;
top:37px;
left:265px;
position:absolute;
}
.rectangle337
{
background-color:#e0e0e0;
height:42px;
width:386px;
border-radius:20px;
top:116px;
left:530px;
position:absolute;
}
.hello,whatsup
{
color:rgba(117, 117, 117, 0.9333333373069763);
text-align:left;
vertical-align:text-middle;
font-size:14px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:122px;
left:549px;
position:absolute;
width:135px;
}
.rectangle338
{
background-color:#f5f5f5;
height:650px;
width:581px;
border-radius:10px;
top:755px;
left:239px;
position:absolute;
}
.ssg
{
color:rgba(0, 0, 0, 0.9333333373069763);
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:772px;
left:315px;
position:absolute;
width:43px;
}
.genericavatar4
{
background-color:#84041d;
height:45px;
width:45px;
border-radius:100px;
padding:0px;
left:260px;
top:772px;
position:absolute;
}
.avatarplaceholder4
{
background-color:#ffffff;
height:28.836082458496094px;
width:31.707103729248047px;
width:31.707103729248047px;
height:28.836082458496094px;
left:6.64px;
top:11.25px;
width:31.707103729248047px;
height:28.836082458496094px;
position:absolute;
}
.-facilitator
{
color:rgba(0, 0, 0, 0.9333333373069763);
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:780px;
left:348px;
position:absolute;
width:74px;
}
.aug01,2024at11:59pm
{
color:rgba(66, 66, 66, 0.9333333373069763);
text-align:left;
vertical-align:text-middle;
font-size:8px;
font-family:Athiti;
line-height:auto;
border-style:hidden;
outline:none;
top:792px;
left:315px;
position:absolute;
width:112px;
}
.anunsyo:tamangkasuotanparasapagdidiriwangngbuwanngwikanagaganapinsaika-30ngagostotaong2024.
{
color:rgba(0, 0, 0, 0.9333333373069763);
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:830px;
left:265px;
position:absolute;
width:510px;
}
.chevrondown2
{
background-color:#ffffff;
height:25px;
width:25px;
padding:0px;
border-style:hidden;
outline:none;
left:775px;
top:775px;
position:absolute;
}
.icon13
{
height:6.25px;
width:12.5px;
width:12.5px;
height:6.25px;
left:6.25px;
top:9.37px;
width:12.5px;
height:6.25px;
position:absolute;
}
.heart
{
background-color:#ffffff;
height:31px;
width:31px;
padding:0px;
border-style:hidden;
outline:none;
left:763px;
top:1348px;
position:absolute;
}
.icon14
{
height:23.549440383911133px;
width:26.999858856201172px;
width:26.999858856201172px;
height:23.549440383911133px;
left:2px;
top:3.87px;
width:26.999858856201172px;
height:23.549440383911133px;
position:absolute;
}
.genericavatar5
{
background-color:#84041d;
height:35px;
width:35px;
border-radius:100px;
padding:0px;
left:265px;
top:1351px;
position:absolute;
}
.avatarplaceholder5
{
background-color:#ffffff;
height:22.428062438964844px;
width:24.66107940673828px;
width:24.66107940673828px;
height:22.428062438964844px;
left:5.16px;
top:8.75px;
width:24.66107940673828px;
height:22.428062438964844px;
position:absolute;
}
.comment
{
height:30px;
width:30px;
left:712px;
top:1351px;
position:absolute;
}
.rectangle339
{
background-color:#e0e0e0;
height:38px;
width:372px;
border-radius:20px;
top:1348px;
left:316px;
position:absolute;
}
.hello,what’sup?2
{
color:rgba(117, 117, 117, 0.9333333373069763);
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:1349px;
left:337px;
position:absolute;
width:135px;
}
.rectangle340
{
background-color:#f5f5f5;
height:624px;
width:581px;
border-radius:10px;
top:1418px;
left:239px;
position:absolute;
}
.heart2
{
background-color:#ffffff;
height:31px;
width:31px;
padding:0px;
border-style:hidden;
outline:none;
left:761px;
top:1990px;
position:absolute;
}
.icon15
{
height:23.549440383911133px;
width:26.999858856201172px;
width:26.999858856201172px;
height:23.549440383911133px;
left:2px;
top:3.87px;
width:26.999858856201172px;
height:23.549440383911133px;
position:absolute;
}
._122128485800475550_376304475272124219_n1
{
height:467px;
width:581px;
left:239px;
top:1511px;
position:absolute;
}
.maki
{
color:rgba(0, 0, 0, 0.9333333373069763);
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:1434px;
left:313px;
position:absolute;
width:43px;
}
.genericavatar6
{
background-color:#84041d;
height:45px;
width:45px;
border-radius:100px;
padding:0px;
left:258px;
top:1434px;
position:absolute;
}
.avatarplaceholder6
{
background-color:#ffffff;
height:28.836082458496094px;
width:31.707103729248047px;
width:31.707103729248047px;
height:28.836082458496094px;
left:6.64px;
top:11.25px;
width:31.707103729248047px;
height:28.836082458496094px;
position:absolute;
}
.-facilitator2
{
color:rgba(0, 0, 0, 0.9333333373069763);
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:1442px;
left:346px;
position:absolute;
width:74px;
}
.jan01,2024at11:59pm
{
color:rgba(66, 66, 66, 0.9333333373069763);
text-align:left;
vertical-align:text-middle;
font-size:8px;
font-family:Athiti;
line-height:auto;
border-style:hidden;
outline:none;
top:1454px;
left:313px;
position:absolute;
width:112px;
}
.goodluckamaerslipaforyourfirstquarterexamination!
{
color:rgba(0, 0, 0, 0.9333333373069763);
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:1485px;
left:263px;
position:absolute;
width:354px;
}
.genericavatar7
{
background-color:#84041d;
height:35px;
width:35px;
border-radius:100px;
padding:0px;
left:263px;
top:1993px;
position:absolute;
}
.avatarplaceholder7
{
background-color:#ffffff;
height:22.428062438964844px;
width:24.66107940673828px;
width:24.66107940673828px;
height:22.428062438964844px;
left:5.16px;
top:8.75px;
width:24.66107940673828px;
height:22.428062438964844px;
position:absolute;
}
.comment2
{
height:30px;
width:30px;
left:710px;
top:1993px;
position:absolute;
}
.rectangle341
{
background-color:#e0e0e0;
height:38px;
width:372px;
border-radius:20px;
top:1990px;
left:314px;
position:absolute;
}
.hello,what’sup?3
{
color:rgba(117, 117, 117, 0.9333333373069763);
text-align:left;
vertical-align:text-middle;
font-size:12px;
font-family:Raleway;
line-height:auto;
border-style:hidden;
outline:none;
top:1993px;
left:335px;
position:absolute;
width:135px;
}
.chevrondown3
{
background-color:#ffffff;
height:25px;
width:25px;
padding:0px;
border-style:hidden;
outline:none;
left:773px;
top:1437px;
position:absolute;
}
.icon16
{
height:6.25px;
width:12.5px;
width:12.5px;
height:6.25px;
left:6.25px;
top:9.37px;
width:12.5px;
height:6.25px;
position:absolute;
}
