   /* Global Styles */
   * {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Login Form Styles */
.loginform {
    background-color: #8e0404;
    height: 743px;
    width: 600px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -50px;
}

/* Header Styles */
.welcomeamaers {
    color: #ffffff;
    text-align: left;
    font-size: 36px;
    margin: 0;
}

.logintoaccesstheplatform {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    margin: 0;
}

.thisisamaers {
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    margin-top: 300px;
}

/* Container */
.container {
    width: 100%;
    max-width: 600px;
    margin: 300px 20px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 108px;
    width: 225px;
    position: absolute;
    left: 1005px;
    top: 150px;
}

.login3 {
    color: #000000;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 1080px;
    top: 280px;
}

/* Form Styles */
.formlogin {
    background-color: #ffffff;
    width: 300px;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 300px;
    left: 880px;
}

.inputfield {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

label {
    color: #1e1e1e;
    font-size: 16px;
    font-weight: bold;
}

input {
    background-color: #ffffff;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    padding: 12px 16px;
    border: 1px solid #ccc;
}

.buttongroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.button3 {
    background-color: #84041d;
    height: 45px;
    width: 100px;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button3:hover {
    background-color: #b83d55;
    transition: background-color 0.3s;
}

.textlink {
    font-size: 12px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}