/* General Styles */
body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.checkcircle {
    width: 136px; /* Set width */
    height: 136px; /* Set height */
    margin-bottom: 20px; /* Space below the image */
}

.emailverification {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px; /* Responsive max width */
    width: 100%; /* Full width */
}

.sent {
    color: #000000;
    font-size: 15px;
    margin-bottom: 20px; /* Space below the message */
}

.inputfield {
    margin-bottom: 20px; /* Space below the input field */
}

.label {
    color: #1e1e1e;
    font-size: 16px;
    margin-bottom: 5px; /* Space below the label */
    font-weight: bold;
}

.input2 {
    background-color: #ffffff;
    height: 30px;
    border-radius: 8px;
    padding: 12px 16px; /* Padding for input */
    width: 80%; /* Full width */
    border: 1px solid #ccc; /* Border for input */
}

.buttongroup {
    display: flex; /* Use Flexbox */
    justify-content: center; /* Center buttons horizontally */
    align-items: center; /* Center buttons vertically */
    gap: 20px; /* Space between buttons */
    margin-top: 10px; /* Optional: Space above the button group */
}

.button {
    background-color: #84041d; /* Button color */
    color: #f5f5f5; /* Button text color */
    height: 40px;
    width: 100px;
    border-radius: 8px;
    padding: 12px;
    border: none; /* No border */
    cursor: pointer; /* Pointer on hover */
}

.button:hover {
    background-color: #a50f2d;
    opacity: 0.9; 
}

.button3 {
    background-color: #f0f0f0; /* Button color */
    color: black; /* Button text color */
    height: 40px;
    width: 100px;
    border-radius: 8px;
    padding: 12px;
    border: none; /* No border */
    cursor: pointer; /* Pointer on hover */
}

.button3:hover {
    background-color: gray;
    color: white;
    opacity: 0.9; 
}

.error-message{
    font-size: 15px;
}